<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>mini message board</title>
</head>

<body>
  <div class="card" style="width: 50%; margin: 0 auto; margin-top: 50px;">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div style="width: 90px;"></div>
      <h1 class="h1 text-center flex-grow-1">Mini Message Board</h1>
      <a href="/new" class="btn btn-sm btn-success">+ New</a>
    </div>
    <ul class="list-group list-group-flush">
      <% messages.forEach((message) => {%>
      <%- include('message', {user: message.user, message: message.text, id: message.id}) %>
      <%});%>

    </ul>
  </div>

  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>